<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!--Cadena de conexión demo que deberá ser encriptada-->
        <add name="Prototipo" connectionString="Data Source=.\\SQLEXPRESS;Initial Catalog=PrototipoDB;User Id=sa;Password=as;"/>
    </connectionStrings>
</configuration>