<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CooperatorConnectionString"
                connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SAI_BD;Data Source=.\SQLEXPRESS; Application Name=BSD.C4.Tlaxcala.Sai.Dal.Incidencias; multipleactiveresultsets=true;"
                providerName="System.Data.SqlClient" />
        <!--<add name="CooperatorConnectionString"
            connectionString="User Id=sa; Password = Passw0rd;Initial Catalog=SAI_BD;Data Source=CXFEQ; Application Name=BSD.C4.Tlaxcala.Sai.Dal.Incidencias; multipleactiveresultsets=true;"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <appSettings>
        <add key="Enterprisename" value="BSD.C4.Tlaxcala.Sai.Dal.Incidencias" />
        <add key="XmlCartografia" value="map.xml"/>
        <!--Llaves para Configurar aplicación agente de Avaya-->
        <add key="AplicacionAgente" value="jar_cti_cte01.jar"/>
        <add key="PuertoAgente" value="9999"/>
        <add key="IpAgente" value="127.0.0.1"/>
    </appSettings>
</configuration>