<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CooperatorConnectionString"
                connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SAI_BD;Data Source=.\SQLEXPRESS; Application Name=BSD.C4.Tlaxcala.Sai.Dal.Incidencias; multipleactiveresultsets=true;"
                providerName="System.Data.SqlClient" />
        <!--<add name="CooperatorConnectionString"
            connectionString="User Id=sa; Password = Passw0rd;Initial Catalog=SAI_BD;Data Source=10.19.1.225\sqlexpress; Application Name=BSD.C4.Tlaxcala.Sai.Dal.Incidencias; multipleactiveresultsets=true;"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <appSettings>
        <add key="Enterprisename" value="BSD.C4.Tlaxcala.Sai.Dal.Incidencias" />
        <add key="XmlCartografia" value="map.xml"/>
        <!--LLAVES PARA CONFIGURAR EL SOCKET DE COMUNICACIÓN CON AVAYA-->
      <!--Ruta en donde se encuentra la máquina virtual de java-->
        <add key="RutaJava" value="C:\Program Files\Java\jre6\bin\java.exe"/>
      <!--Nombre del Agente Java proporcionado por Avaya-->
      <add key="NombreAgente" value="jar_cti_cte01.jar"/>
      <!--Puerto a monitorear-->
        <add key="PuertoAgente" value="9998"/>
      <!--Dirección IP por donde se recibiran las tramas-->
        <add key="IpAgente" value="127.0.0.1"/>
    </appSettings>
</configuration>