<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!--<add name="CooperatorConnectionString"
            connectionString="User Id=sa;Pwd=1234567890;Persist Security Info=False;Initial Catalog=SAI_BD;Data Source=10.68.85.195\SQLEXPRESS; Application Name=BSD.C4.Tlaxcala.Sai.Dal.Incidencias;"
            providerName="System.Data.SqlClient" />-->
        <add name="CooperatorConnectionString"
        connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SAI_BD;Data Source=.\SQLEXPRESS; Application Name=BSD.C4.Tlaxcala.Sai.Dal.Incidencias;"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="Enterprisename" value="BSD.C4.Tlaxcala.Sai.Dal.Incidencias" />
        <add key="XmlCartografia" value="map.xml"/>
    </appSettings>
</configuration>