<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CReportes.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=.\SQLEXPRESS;Password=sa;User ID=Passw0rd;Initial Catalog=SAI_BD"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>